<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oil_laundry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OILlaundry">
        <activity
            android:name=".Client.clientProfile"
            android:exported="false" />
        <activity
            android:name=".Admin.adminProfile"
            android:exported="false" />
        <activity
            android:name=".Admin.adminDeliveryOrder"
            android:exported="false" />
        <activity
            android:name=".Client.clientDeliveryOrder"
            android:exported="false" />
        <activity
            android:name=".Admin.turnsOrderedAdmin"
            android:exported="false" />
        <activity
            android:name=".Client.clientMain"
            android:exported="false" />
        <activity
            android:name=".Admin.OwnersLaundryMenu"
            android:exported="false" />
        <activity
            android:name=".Client.makeAnAppointment"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>